# ASP.NET Core environment (Development | Production)
ASPNETCORE_ENVIRONMENT=Development

# RabbitMQ 
RABBITMQ_HOST=localhost
RABBITMQ_USER=sofka
RABBITMQ_PASSWORD=sofka

# SQL Server
DATABASE_HOST=sqlserver
DB_HOST=localhost
DB_PORT=1433
DB_NAME=SofkaAccount
DB_USER=sa
DB_PASSWORD=a6Dd7GLHK2Zg4HVvSn # Cambiar la contraseña en producción